<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Stock Data</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
    <div class="container">
        <h1 class="mt-5">Stock Data</h1>
        <p>Total Unique Tickers in Database: {{ 5474 }}</p>

        <form method="POST">
            <div class="form-group">
                <label for="ticker">Search Ticker</label>
                <input type="text" class="form-control" id="ticker" name="ticker" placeholder="Enter ticker symbol">
            </div>
            <button type="submit" class="btn btn-primary">Search</button>
        </form>

        <h2>OHLCV Data</h2>
        {% if ohlcv_data and ohlcv_data|length > 0 %}
        <table class="table">
            <thead>
                <tr>
                    <th>Ticker</th>
                    <th>Date</th>
                    <th>Open</th>
                    <th>Close</th>
                    <th>Volume</th>
                </tr>
            </thead>
            <tbody>
                {% for data in ohlcv_data %}
                <tr>
                    <td>{{ data['ticker'] }}</td>
                    <td>{{ data['date'].strftime("%Y-%m-%d") if data['date'] else 'N/A' }}</td>
                    <td>{{ data['open'] }}</td>
                    <td>{{ data['close'] }}</td>
                    <td>{{ data['volume'] }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        {% else %}
        <p>No OHLCV data available</p>
        {% endif %}

        <h2>Stock Price Chart</h2>
        {% if ticker and ohlcv_data and ohlcv_data|length > 0 %}
            <img src="/plot?ticker={{ ticker }}" alt="Stock Prices for {{ ticker }}" class="img-fluid">
        {% else %}
            <p>No stock price chart available</p>
        {% endif %}

        <h2>RS Score</h2>
        {% if rs_score %}
            <p>RS Score: {{ rs_score['rs_63'] | round(2) }}</p>
        {% else %}
            <p>No RS Score available</p>
        {% endif %}
    </div>
</body>
</html>
